* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    padding-left: 7.1rem;
    background: #1C1B1F;
    color: #f0f0f0;
}
a {
    text-decoration: none;
    color: #6EEB83;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 7rem;
    height: 100vh;
    padding: 2rem 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;

    box-shadow: 0 0 5px green;
}

header p {
    position: absolute;
    bottom: 0;
    padding-bottom: 1rem;
}
header p a:last-child {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#login {
    background: #00B37E;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    color: #1C1B1F;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .875rem;
    flex-direction: column;
    border: 4px solid #1C1B1F;
    font-weight: 600;
    box-shadow: 0 0 5px gray;
}
.title {
    text-transform: capitalize;
    font-weight: 900;
}

#logo {
    font-size: 2rem;
    font-weight: 900;
    border-bottom: 1px solid #6EEB83;
}

main {
    padding: 2rem;
    box-shadow: 0 0 5px gray;
    min-height: 100vh;
}
main h1 {
    font-family: 'Sigmar', cursive;
    color: #6EEB83;
    text-align: center;
    line-height: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

main h1 img {
    width: 100px;
}

/** Post **/

.post .post-title {
    margin: 0;
}

.post .post-title a {
    font-size: 2.5rem;
    color: #00B37E;
    text-decoration: none;
}

.post .post-metadata {
    color: #C4C4CC;
    display: block;
    font-size: 70%;
    display: inline-block;
}

.post .post-author {
    font-size: 130%;
    font-weight: bold;
}

.post .post-metadata a {
    color: #9FA85D;
}

.post .post-content {
    position: relative;
    background: #202024;
    color: #C4C4CC;
    font-weight: 300;
    padding: 1.5rem;
    margin: 10px 0 50px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 0 2px 10px #19191C;
}

.post .about {
    text-indent: -999em;
    display: block;
    width: 0;
    height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #202024;
	border-top: 0;
	position: absolute;
	top: -6px;
	left: 24px;
}


/** Older posts **/

.older-posts h3 {
    color: #C4C4CC;
    font-size: 2rem;
    margin-bottom: 15px;
}

.older-posts h3 .from {
    font-weight: normal;
    font-size: 70%;
}

.older-posts .post {
    margin-bottom: 15px;
    border-left: 3px solid #00B37E;
    border-radius: 0 0 8px 8px;
    padding-left: 10px;
}

.older-posts .post-title a {
    padding: 0;
    color: #00B37E;
    font-size: 20px;
}

.older-posts .post-metadata {
    color: #7C7C8A;
    padding: 0;
    font-size: 12px;
}

.older-posts .post-metadata a {
    color: #869AB1;
}

/** Comments **/

.comments {
    margin-bottom: 30px;
}

h3 {
    color: #869AB1;
    font-size: 18px;
    margin-bottom: 15px;
}

h3 span {
    font-size: 80%;
    font-weight: normal;
}

.comment {
    width: 70%;
    clear: both;
}

.comment .comment-metadata {
    color: #869AB1;
    display: block;
    font-size: 50%;
    display: block;
    float: left;
    width: 80px;
    text-align: right;
}

.comment .comment-author {
    font-size: 150%;
    font-weight: bold;
    display: block;
}

.comment .comment-content {
    position: relative;
    background: #E4EAFF;
    color: #242C58;
    font-size: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.comment .about {
    text-indent: -999em;
    display: block;
    width: 0;
    height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #E4EAFF;
	border-left: 0;
	position: absolute;
	top: 4px;
	left: -4px;
}